:root {
  --background: #f8f8f8;
  --white: #fff;
  --gray100: #29292e;
  --gray: #737380;
  --gray-light: #a8a8b3;
  --gray10: #e2e2e2;
  --textarea: #fefefe;
  --background-purple: #835afd;
  --pink: #e559f9;
  --red: #ea4335;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}